@charset "utf-8";
@import url(//fonts.googleapis.com/css?family=Roboto:300,400,500,700);
@import url(//fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap);
@import url(//fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap);
@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal; 
  font-weight: 100; 
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'), 
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'), 
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype'); 
} 
@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal; 
  font-weight: 300; 
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'), 
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'), 
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype'); 
} 
@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal; 
  font-weight: 400; 
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype'); 
 } 
@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal; 
  font-weight: 500; 
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype'); 
 } 
@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal; 
  font-weight: 700; 
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype'); 
 } 
@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal; 
  font-weight: 900; 
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype'); 
 } 

html,body { font-family:'Noto Sans KR', "Apple SD Gothic Neo", "Malgun Gothic", Sans-serif; }
body {overflow-y:visible;overflow-x:auto; }
#doc {overflow:hidden;position:relative; z-index:3999;min-width:1360px;opacity:0; min-height:768px;-webkit-transition: opacity 0.3s ease-out;-moz-transition: opacity 0.3s ease-out;-o-transition: opacity 0.3s ease-out;transition: opacity 0.3s ease-out;}
#doc.show{ transition-delay:0s; opacity:1;}
#doc.main{position:absolute; left:0; top:0; width:100%; height:100%;}
	@media only screen and (max-width:999px) {
		#doc.main{position:relative; left:auto; top:auto; width:auto; height:auto;}
	}
/*=======================================================
  css default
=========================================================*/
.div-cont {position:relative;text-align:left;margin:0 auto 0 auto; max-width:1400px; padding:0 20px; box-sizing:border-box;}
.div-cont:after {clear:both;content:"";display:block;}

.body-slide-wr{position:relative;width:100%;transition:margin 0.3s ease;}
.body-slider-ovclick{position:fixed;z-index:2600;width:100%;height:100%;left:0;top:0;background:rgba(0,0,0,0.65);cursor:pointer }
.header-slider-ovclick{position:fixed;z-index:3010;width:100%;height:100%;/* height:calc(100% - 60px) */;left:0;top:0;background:rgba(0,0,0,0.65);cursor:pointer }




/*=======================================================
    z-index default
=========================================================*/
#header-wrap{position:fixed;z-index:2005;}
#container-wrap{position:relative;z-index:1004;}
#footer-wrap{position:relative;z-index:1005; }



/*=======================================================
    #header-wrap 
=========================================================*/
#header-wrap {left:0; width:100%; top:0; min-width:1360px;}





/* ======================================================
   #container-wrap 
=========================================================*/
#container-wrap{}
#container-wrap #contents{ }
.main #container-wrap {}





/* ======================================================
    #footer-wrap 
=========================================================*/
#footer-wrap {display:block; position:relative; background:#f1f1f1; display:flex;align-items: center; justify-content: center;}
#footer {position:relative;text-align:left; padding:300px 150px 260px;}
#footer:after{display:block; content:"";clear:both}
#footer .fl{float:left; width:280px}
#footer .fr{float:right; width:620px;}

.f-sns ul{}
.f-sns ul:after{display:block; content:"";clear:both}
.f-sns ul li{float:left}
.f-sns ul li:nth-child(n+2){margin-left:25px;}
.f-sns ul li a{display:block; width:70px;height:70px;background-color:#626262 !important; border-radius:100%}
.f-sns ul li a:hover{background-color:#ecb800 !important}

.f-sns ul li:nth-child(1) a{background:url(../_Img/f-kakao.png) no-repeat center center}
.f-sns ul li:nth-child(2) a{background:url(../_Img/f-blog.png) no-repeat center center}
.f-sns ul li:nth-child(3) a{background:url(../_Img/f-instar.png) no-repeat center center}

.f-info{margin-top:27px;}
.f-info h2{font-size:30px; font-weight:700; color:#626262; letter-spacing:-0.03em; line-height:1.2em;}

.f-info .in-cmy{margin-top:25px;}
.f-info .in-cmy p{font-size:15px; color:#737373; letter-spacing:-0.03em; line-height:1.45em; font-weight:400}

.f-store h3{background:url(../_Img/f-ico.png) no-repeat;padding-left:185px;font-size:40px; font-weight:900; color:#edb800; line-height:1.3em; height:160px;  display:flex;align-items: center; justify-content:left}
.f-store ul{margin-top:42px;}
.f-store ul:after{display:block; content:"";clear:Both}
.f-store li{float:left;}
.f-store li:nth-child(n+2){margin-left:64px;}
.f-store li a{background-color:#333 !important; border-radius:88px; width:274px; display:block; height:88px;}

.f-store li:nth-child(1) a{background:url(../_Img/ico-google.png) no-repeat center center}
.f-store li:nth-child(2) a{background:url(../_Img/ico-appstore.png) no-repeat center center}

.f-store .ex{font-size:18px; color:#6c6c6c; font-weight:400 ; letter-spacing:-0.03em; line-height:1.2em; margin-top:15px}







